<div class="jumbotron text-center">
	<form name="newUserForm" novalidate>
	  	Usuario:<input type="text" ng-model="model.usuario" name="usuario" required >
	  	<br>
	  	Contraseña:<input type="text" ng-model="model.password" name="password" required >
	  	<br>
	  	Nombre:<input type="text" ng-model="model.nombre" name="nombre" required >
	  	<br>
	  	Apellidos:<input type="text" ng-model="model.apellidos" name="apellidos" required >
	  	<br>
	  	Email:<input type="text" ng-model="model.email" name="email" required >
  	</form>
</div>